/* /style.css */
body {
    text-align: center;
    font-weight: 500;
}

.container {
padding: 10vw;
border-radius: 5vw;
font-size: 5vw;
}

#input {
padding: 1vw;
padding-left: 2vw;
width: 70%;
font-size: 3vw;
font-weight: 500;
border-radius: 5vw;
}

#search_section {
display: flex;
justify-content: center;
align-items: center;
margin-top: 5vw;
}

#search_btn {
padding: 1vw 2vw; 
margin-left: 2vw;
font-size: 3vw;
font-weight: 500;
border-radius: 5vw;
border: none;
}

#result img {
width: 50vw;
}
  