body{
    margin: 20px;

}

.container {
    border-radius: 10px;
    border: 1px #000 solid;
    width: 400px;
}
.header {
    width: 100%;
    color: white;
    background-color: #4B89DC;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.header h1 {
    font-size: 40px;
    font-weight: 700;
}
.header h2 {
    font-size: 20px;
    font-weight: 500;
}

.creat_section p {
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 30px;
    font-weight: 900;
}

.balls {
    display: flex;
    justify-content: center;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

#yellow {
    background-color: #FBC400;
}
#blue {
    background-color: #69C8F2;
}
#red {
    background-color: #FF7272;
}
#gray {
    background-color: #AAAAAA;
}
#green {
    background-color: #B0D840;
}

.btn1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn1 button {
    width: 90%;
    height: 40px;
    background-color: #4B89DC;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
}


.buy_section .buy_txt {
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    font-weight: 900;
}

.buy_section p {
    font-size: 15px;
    padding-left: 20px;
    font-weight: 500;
}

#buy_count {
    width: 70%;
    font-size: 15px;
}


.result_section {
    width: 80%;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.result_section .result_txt {
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    font-weight: 900;
}

.result_section p {
    font-size: 15px;
    padding-left: 10px;
    font-weight: 500;
}

.my_result {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #E8F4FD;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.result_section .ball {
    width: 35px;
    height: 35px;
    font-size: 15px;
    color: #fff;
}